#Tracks {
    position: absolute;
    top: 30%;
    right: 0%;
    z-index: -1;
}

#Train{
    animation: move 10s infinite ease-in-out;
}

@keyframes move{
    from {
        transform: translateX(1700px);
    }
    to {
        transform: translateX(-1700px);
    }
}

body{
    overflow-x: hidden;
}

